body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: #fff;
}

.header_line {
  display: inline-block;
  flex: 1;
  padding: 10;
  margin: 10;
}

nav ul {
  padding: 5px;
}

nav li {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}

.producer {
  color: #f77335;
}

.watcher {
  color: #7aa178;
}

.logo {
}

.home {
  text-transform: uppercase;
  padding: 10px 80px;
}

header,
footer {
  background-color: #272726;
  color: #fff;
  padding: 15px;
}

header a {
  color: #fff;
  padding: 2px;
}

.intro {
  text-align: center;
}

h2 {
  color: #f77335;
  text-transform: uppercase;
}

p {
  color: #fff;
}

h3 {
  text-transform: uppercase;
}

.item {
  max-width: 150px;
  padding: 10px;
  margin: 10px;
}

.floated {
  float: right;
}

.item_box {
  background-color: #696565;
  width: 200px;
  height: 300px;
}

/*Links*/
a {
  text-decoration: none;
}

.cta {
  background-color: #7aa178;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 5px 50px;
  border-radius: 5px;
}

.featured_movies {
  border-radius: 10%;
  padding: 10px;
  width: 220px;
  height: 150px;
}

.position {
  border-radius: 10px;
  text-align: center;
}

.cta_create {
  text-align: center;
  background-color: #f77335;
  position: absolute;
}
section::after {
  content: "";
  clear: both;
}

.active  {
  text-decoration: underline;
}
