@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.ttc") format("truetype");
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: #fff;
  min-height: 100vh;
  display: grid;
  gap: 1em;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

nav {
  display: flex;
}

.nav_menu {
  flex: 4;
}

nav ul {
  padding: 5px;
}

nav li {
  text-transform: uppercase;
  display: inline-block;
}

.producer {
  color: #f77335;
}

.watcher {
  color: #7aa178;
}

.home {
  padding: 10px 80px;
  color: #fff;
}

.toolbar {
  display: flex;
  flex: 4;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.login_button {
  flex: 7;
}

.tools {
  flex: 2;
  margin-right: 12px;
}

.tools a {
  margin-right: 15px;
}

.logo {
  flex: 1;
}

.logo img {
  text-align: center;
}

.icon_img {
  height: 25px;
}

.icon_header {
  flex: 6;
}

header,
footer {
  background-color: #272726;
}

/*HOME PAGE*/

h2 {
  color: #f77335;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  text-transform: uppercase;
  text-align: left;
  margin: 10px 5px 10px 75px;
}
.intro {
  text-align: center;
  flex: 8;
}

.intro h1 {
  font-style: italic;
}

.left-column {
  text-align: center;
  width: 60%;
  float: left;
  border-right-style: solid;
  border-color: #f77335;
}

.right-column {
  width: 38%;
  float: right;
}

.create-account-section {
  width: 100%;
  float: right;
}

.financial-benefits {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.financial-benefits h2 {
  margin-top: 35px;
}

.featured_movies {
  border-radius: 20%;
  padding: 10px;
  width: 220px;
  height: 150px;
}

.movie_upload {
  margin-top: 80px;
}

.create-account {
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}

.uploader {
  background-color: rgba(105, 101, 101, 0.3);
  width: 300px;
  height: 360px;
  border-radius: 22%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.uploader p {
  position: relative;
  top: 40px;
  padding: 40px;
}

footer {
  width: 100%;
  float: right;
  height: 50px;
  text-align: center;
}

footer div {
  margin: 17px;
}

footer a {
  margin: 5%;
}

/*Links*/
a {
  text-decoration: none;
  color: #ffffff;
}

.cta {
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 85px;
  border-radius: 5px;
}

.cta_create {
  text-align: center;
  background-color: #f77335;
}

.cta_login {
  background-color: #7aa178;
}

section::after {
  content: "";
  clear: both;
}

a:active {
  text-decoration: underline;
}

/*media query*/

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
}

@media only screen and (max-width: 600px) {
  .left-column {
    width: 100%;
  }

  .right-column {
    width: 100%;
  }
}
